button {
    margin: 10px;
    padding: 10px;
}

.div1,
.div3,
.div4 {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px;
    font-size: 24px;
    color: royalblue;
    border: 1px solid #DDD;
    background-color: #EEE;
}

.div2 {
    padding: 20px;
    border: 1px solid #DDD;
    background-color: #EEE;
    position: relative;
    width: 400px;
    position: absolute;
    top: -100px;
    left: 300px;
}

.div2 input {
    display: none;
    background-color: pink;
}

.toggleclass {
    margin-top: 10px;
    padding: 15px;
    width: 200px;
    border-radius: 20px;
    background-color: #CCC;
}

.border {
    border: 3px solid pink;
}

.cont {
    width: 800px;
    height: 100px;
    background-color: #DDD;
    margin: auto;
    overflow: hidden;
}

.cont .left {
    margin-top: 40px;
    float: left;
    width: 490px;
    margin-right: 10px;
    background-color: #000;
    color: #FFF;
}

.cont .right {
    margin-top: 40px;
    float: right;
    width: 300px;
    color: #FFF;
    background-color: #000;
}

section div,
p {
    padding: 10px;
    background-color: #DDD;
    margin: 10px;
}
